@import '../../sass/settings/settings.variables.scss';

/* scoped styles */
c-element {
    display: block;
    text-align: center;
}
.c-element__heading {
    font-size: 4rem;
    color: $color-main-500;
}