@import '../../sass/settings/settings.variables.scss';

c-btn {
    display: inline-block;
    button {
        vertical-align: middle;
        padding: 8px 15px;
        background-color: $color-main-500;
        color: #FFF;
    }
}